body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo{
    text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.menu{
    padding: 20px;
    background-color:  #F0B429;
    max-width: max-content 100%;
}

.tabla{
    max-width: 80%;
    margin: 40px;
}